section.section.certification
  .container
    h2.title.title--center Сертификация товара
    .certification__wrap
      picture.picture.certification__picture
        source(srcset="./img/certification/certificate/certificate.webp, ./img/certification/certificate/certificate@2x.webp 2x", type="image/webp", class="img")
        img(src="#", alt="certificate", srcset="./img/certification/certificate/certificate.jpg, ./img/certification/certificate/certificate@2x.jpg 2x", class="img")
      .certification__content
        h3.certification__title Соответствуют всем нормам и требованиям правил ГИБДД
        p.text.certification__text Наши кресла производятся в г. Георгиевске (Ставропольский край), сертифицированны и разрешены к использованию по всей России.
        p.text.certification__text Кресло весит всего 700 грамм, его можно носить с собой и установить в любое авто.
        p.text.certification__text Стирать кресло можно при температуре 30 градусов. 
