.comparison
  .container.comparison__container
    .comparison__block.comparison__block--left
      h3.comparison__title.title Обычное кресло
      ul.comparison__list.comparison__list--left
        li.comparison__item.comparison__item--left Боковые стенки преграда для движений ребенка, особенно в зимний период, когда много одежды
        li.comparison__item.comparison__item--left Необходимо менять автокресло по мере увеличения веса ребенка
        li.comparison__item.comparison__item--left Имеет 5-ти точечную фиксацию ребенка 
        li.comparison__item.comparison__item--left Нужно убирать в багажник, при перевозки взрослых или каких либо грузов
    .comparison__block.comparison__block--right
      h3.comparison__title.title Бескаркасное кресло
      ul.comparison__list.comparison__list--right
        li.comparison__item.comparison__item--right Дает полную безопасную свободу ребёнка ОСТАВЛЯЕТ СПИНКУ СИДЕНИЯ ЧИСТЫМ
        li.comparison__item.comparison__item--right Подходит  1, 2, 3 группе детей (от 9 кг до 36 кг) (от 1 года до 12 лет)
        li.comparison__item.comparison__item--right Имеет 5-ти точечную фиксацию ребенка 
        li.comparison__item.comparison__item--right Не мешает при перевозке пассажиров или грузов. Весит 700 грамм

