.contacts
  .container.contacts__container
    .contacts__map
    .contacts__content
      p.contacts__text Забрать кресло можно по адресу:
      strong.contacts__address Челябинск, ул.&nbsp;Академика&nbsp;Королева, 38
      p.contacts__text или используйте
      a(href="#delivery", class="button contacts__button") Бесплатная доставка