.delivery
  .container.delivery__container
    .delivery__content
      h3.delivery__title Оставьте заявку сейчас и получите   
        span.delivery__subtitle бесплатную доставку!
      form(action="#", method="post", class="delivery__form")
        input(type="tel", name="form-delivery--tel", placeholder="Ваш телефон", class="input delivery__input request-callback__input")
        button(type="submit", class="button") ПЕРЕЗВОНИТЕ МНЕ
    .delivery__circle
      span.delivery__text Скидка 28%
      span.delivery__price.delivery__price--old 2 545 р.
      span.delivery__price.delivery__price--new 1 850 р.