.discount
  .container.discount__container
    .discount__content
      h2.discount__title.title Скидка 28%
        span.discount__subtitle и бесплатная доставка
        span.discount__present в подарок!
      .discount__price
        span.price.price--old 2 545 р.
        span.price.price--new 1 850 р.
      .discount__order
        .order__content
          p.order__text Акция только до:
          .order__date 4
          span.order__text декабря!
        button.button.callback ЗАКАЗАТЬ