.features
  .container.features__container
    .features__row
      .features__content.features__content--left
        h3.features__title.title Крепкие ремни
        p.features__text Тесьма ременная имеет плотную структуру и выдерживает большие нагрузки.
      .features__content
        h3.features__title.title Безопасные материалы
        p.features__text При пошиве используется ткань "Оксфорд", сетка Air-mesh 3-х слойная, поролон, спанбонд, халлофайбер. Все материалы экологически чистые, сертифицированы.
    .features__row
      .features__content.features__content--left
        h3.features__title.title Удобная установка
        p.features__text Достаточно продеть штатный ремень безопасности автомобиля, через специальный карман устройства "ВИННИ" и застегнуть в замок.
      .features__content
        h3.features__title.title Прочные крепления
        p.features__text Устройство  ВИННИ" имеет пятиточечную систему крепления. Пряжки производят из высокопрочных пластиков, имеющих хорошие показатели упругости.
