footer.footer
  .container.footer__container
    a(href="./", class="logo")
      picture.picture
        source(srcset="./img/header/logo/logo.webp, ./img/header/logo/logo@2x.webp 2x", type="image/webp")
        img(src="#", alt="logo", srcset="./img/header/logo/logo.png, ./img/header/logo/logo@2x.png 2x")
    a(href="#", class="footer__privacy-policy privacy-policy") Политика конфидециальности
    .footer__details
      span.footer__text ИНН 999999999
      span.footer__text ОГРН 453453453453