section.section.hero
  .container.hero__container
    h1.title.hero__title Сертифицированные детские бескаркасные автокресла
      span.hero__subtitle с бесплатной доставкой по Челябинску
    .hero__request-callback
      h3.request-callback__title.title--center Нет времени читать?
      p.request-callback__text.text--center Оставляйте номер, мы вам перезвоним!
      form(action="#", method="post", class="form hero__form")
        input(type="tel", name="form-hero--tel", placeholder="Ваш телефон", class="input request-callback__input")
        button(type="submit", class="button") ПЕРЕЗВОНИТЕ МНЕ