section.section.pluses
  .container
    h2.title.title--center.pluses__title Почему именно бескаркасные кресла?
    article.article.pluses__article
      .article__content
        h3.article__title.title Оставляет ваш салон свободным
        p.article__text Бескаркасное автокресло «Смайл» можно не снимать во время перевозки взрослого или груза. Кресло весит всего 700 грамм и установить его можно в любой автомобиль.
      .article__picture-wrap
        picture.picture.article__picture
          source(srcset="./img/pluses/plus-1/plus-1.webp, ./img/pluses/plus-1/plus-1@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/pluses/plus-1/plus-1.jpg, ./img/pluses/plus-1/plus-1@2x.jpg 2x")
    article.article.pluses__article
      .article__picture-wrap
        picture.picture.article__picture
          source(srcset="./img/pluses/plus-2/plus-2.webp, ./img/pluses/plus-2/plus-2@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/pluses/plus-2/plus-2.jpg, ./img/pluses/plus-2/plus-2@2x.jpg 2x")
      .article__content
        h3.article__title.title--right.title Подходит к большинству групп детей
        p.article__text.text--right Автокресло рассчитано на возраст от 1 года до 12 лет (от 9 кг до 36 кг) Имеет пятиточную фиксацию ребенка, как в гоночном автомобиле.
    article.article.pluses__article
      .article__content
        h3.article__title.title Отечественный производитель
        p.article__text Автокресла производят в г. Георгиевске (Ставропольский край), соответсвуют нормам ГИБДД и разрешены к использованию по всей территории РФ, о чем говорит сертификат соответствия.
      .article__picture-wrap
        picture.picture.article__picture
          source(srcset="./img/pluses/plus-3/plus-3.webp, ./img/pluses/plus-3/plus-3@2x.webp 2x", type="image/webp", class="img")
          img(src="#", alt="", srcset="./img/pluses/plus-3/plus-3.jpg, ./img/pluses/plus-3/plus-3@2x.jpg 2x")