.popup.popup__wrapper
  .popup__content.popup__content--callback
    h3.title.popup__title Обратный звонок
    p.popup__text Оставляйте номер, мы вам перезвоним!
    form(action="#", method="get", class="form popup__form")
      input(type="tel", name="form-popup--tel", placeholder="Ваш телефон", class="input")
      button(type="submit", class="button popup__button") ПЕРЕЗВОНИТЕ МНЕ
    button.popup__close
  .popup__content.popup__content--thanks
    h3.title.popup__title Спасибо за вашу заявку!
    p.popup__text Наш менеджер свяжется с вами в ближайшее время!
    button.popup__close
  .popup__content.popup__content--policy
    h3.title.popup__title Политика конфиденциальности
    .popup__policy
      p.popup__text.popup__text--left Настоящий документ «Политика конфиденциальности» (далее по тексту – «Политика») представляет собой правила использования /указать владельца сайта/ (далее – «мы» и/или «Администрация») данных интернет-пользователей (далее «вы» и/или «Пользователь»), собираемых с использованием сайта / указать URL сайта/ (далее – «Сайт»).
      ol.popup__list
        li.popup__item--title.popup__item Обрабатываемые данные
          ol.popup__list
            li.popup__item Мы не осуществляем сбор ваших персональных данных с использованием Сайта.
            li.popup__item Все данные, собираемые на Сайте, предоставляются и принимаются в обезличенной форме (далее – «Обезличенные данные»).
            li.popup__item Обезличенные данные включают следующие сведения, которые не позволяют вас идентифицировать:
              ol.popup__list
                li.popup__item Информацию, которую вы предоставляете о себе самостоятельно с использованием онлайн-форм и программных модулей Сайта, включая имя и номер телефона и/или адрес электронной почты.
                li.popup__item Данные, которые передаются в обезличенном виде в автоматическом режиме в зависимости от настроек используемого вами программного обеспечения.
            li.popup__item Администрация вправе устанавливать требования к составу Обезличенных данных Пользователя, которые собираются использованием Сайта.
            li.popup__item Если определенная информация не помечена как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение. Одновременно вы даете информированное согласие на доступ неограниченного круга лиц к таким данным. Указанные данные становится общедоступными с момента предоставления и/или раскрытия в иной форме.
            li.popup__item Администрация не осуществляет проверку достоверности предоставляемых данных и наличия у Пользователя необходимого согласия на их обработку в соответствии с настоящей Политикой, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии и получению всех необходимых согласий на ее использование.
            li.popup__item Вы осознаете и принимаете возможность использования на Сайте программного обеспечения третьих лиц, в результате чего такие лица могут получать и передавать указанные в п.1.3 данные в обезличенном виде.
        li.popup__item--title.popup__item Цели обработки данных
          ol.popup__list
            li.popup__item Администрация использует данные в следующих целях:
              ol.popup__list
                li.popup__item Обработка поступающих запросов и связи с Пользователем;
                li.popup__item Информационное обслуживание, включая рассылку рекламно-информационных материалов;
                li.popup__item Проведение маркетинговых, статистических и иных исследований;
                li.popup__item Таргетирование рекламных материалов на Сайте.
        li.popup__item--title.popup__item Требования к защите данных
          ol.popup__list
            li.popup__item Администрация осуществляет хранение данных и обеспечивает их охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами.
            li.popup__item В отношении полученных данных сохраняется конфиденциальность, за исключением случаев, когда они сделаны Пользователем общедоступными, а также когда используемые на Сайте технологии и программное обеспечение третьих лиц либо настройки используемого Пользователем программного обеспечения предусматривают открытый обмен с данными лицами и/или иными участниками и пользователями сети Интернет.
            li.popup__item В целях повышения качества работы Администрация вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сайта в течение 1 (Одного) года.
    button.popup__close