.statistics
  .container.statistics__container
    .statistics__box
      span.statistics__number 8
      span.text.text--center.statistics__text лет на рынке
    .statistics__box
      span.statistics__number 21 645
      span.text.text--center.statistics__text кресел продано
    .statistics__box
      span.statistics__number 1 254
      span.text.text--center.statistics__text что то сделано
    .statistics__box
      span.statistics__number 45
      span.text.text--center.statistics__text заказов в день