.contacts {
  background-color: $color-main;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;

  &__container {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__map {
    width: 96%;
    max-width: 28.75rem;
    height: 20rem;
    border-radius: 1.25rem;
    background: $color-dark url('../img/contacts/map/map.jpg') center / cover no-repeat;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 17.812rem;
    padding-left: 0.625rem;
    padding-top: 5rem;
    margin-right: 10%;

    @media screen and (max-width: 991px) {
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      padding-left: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 1.875rem;
      left: 8.312rem;
      width: 1.5rem;
      height: 2rem;
      display: block;
      background: url('../img/contacts/icon/icon-marker.svg') center no-repeat;
    
      @media screen and (max-width: 576px) {
        top: 2.142rem;
        left: 7.857rem;
        width: 1.714rem;
        height: 2.285rem;
      }
    }
  }

  &__text {
    color: $color-dark;
    text-align: center;
  }

  &__address {
    display: block;
    color: $color-secondary;
    font-family: $font-title;
    font-size: 1.25rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2.5em;
    font-weight: normal;
  }

  &__button {
    margin-top: 1.357em;
  }

}