*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  
  @media screen and (max-width: 576px) {
    font-size: 14px;
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 400;
}

h1, h2, h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  flex: 1 0 auto;
}

.picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
}

.title {
  font-size: 2.25rem;
  font-family: $font-title;

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.text {
  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }
}

.section {
  padding-top: 5rem;
}

.request-callback {
  &__title {
    margin-bottom: 0.7em;
    color: $color-secondary;
    font-family: $font-title;
    font-size: 1.25rem;
  }

  &__text {
    margin-bottom: 1.583em;
    color: $color-dark;
    font-family: $font-text;
    font-size: 0.75rem;
  }

  &__input {
    margin-bottom: 1rem;
  }
}

.input {
  width: 100%;
  padding: 1em;
  border-radius: 1.25rem;
  border: 0.063rem solid $color-main;
  text-align: center;
  color: $color-dark;
  font-family: $font-text--bold;
  font-size: 0.813rem;
  outline: none;

  &::placeholder {
    color: lighten($color-dark, 25%);
  }
}

.button {
  width: 100%;
  padding: 1.07em;
  text-align: center;
  box-shadow: 0 0.313rem 0.313rem $color-shadow--hover;
  border: none;
  border-radius: 1.438rem;
  background-color: $color-secondary;
  color: $color-light;
  font-family: $font-title;
  font-size: 0.875rem;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s linear;

  @media screen and (min-width: 992px) {
    &:hover {
      background-color: darken($color-secondary, 15%);
    }
  }
}

.article {
  &__content {
    max-width: 24.7rem;

    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__title {
    color: $color-secondary;
    font-family: $font-title;
    font-size: 1.875rem;
    margin-top: 1.2em;
    margin-bottom: 1.1em;

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  &__text {
    font-size: 1.125rem;

    @media screen and (max-width: 576px) {
      text-align: center;
    }
  }

  &__picture-wrap {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 11.438rem;
      height: 1.625rem;
      left: 20%;
      bottom: -1.625rem;
      background: url('../img/pluses/shadow.png') center no-repeat;
    }
  }

  &__picture {
    width: 18.75rem;
    height: 18.75rem;
    overflow: hidden;
    border-radius: 50%;
  }
}

.price {
  &--old {
    display: block;
    text-align: center;
    color: darken($color-dark, 100%);
    font-size: 1.125rem;
    line-height: 2;
    text-decoration: line-through;

    &::after {
      content: '';
      display: block;
      width: 7.5rem;
      height: 0.063rem;
      background-color: $color-main;
    }
  }

  &--new {
    display: block;
    text-align: center;
    color: $color-third;
    font-family: $font-title;
    font-size: 1.875rem;
    line-height: 1.57;
  }
}

.order {
  &__content {
    display: flex;
    align-items: center;
    margin-bottom: 2.187rem;
  }

  &__text {
    max-width: 4.687rem;
    font-family: $font-title;
    font-size: 0.875rem;
    color: $color-third;
  }

  &__date {
    width: 3rem;
    height: 2.688rem;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.266em 0.6em 0.266em 0.433em;
    color: $color-light;
    font-family: $font-title;
    font-size: 1.875rem;
    background: url('../img/discount/background/calendar-bg.png') center / cover no-repeat;
  }
}