$font-text: 'Museo Sans 300', sans-serif;
$font-text--bold: 'Museo Sans 500', sans-serif;
$font-title: 'Museo Sans 700', sans-serif;
$font-title--bold: 'Museo Sans 900', sans-serif;

$color-dark: #535353;
$color-light: #ffffff;
$color-main: #ecf3f8;
$color-secondary: #68b0c9;
$color-third: #d04545;
$color-shadow: rgba(104, 176, 201, 0.34);
$color-shadow--hover: rgba(1, 1, 1, 0.1);